.nav-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.tytle-carousel {
  font-size: 26px;
  line-height: 1.53;
}
.navigation-carousel {
  display: flex;
  align-items: center;
  gap: 20px;
}
.turn-carousel {
  display: flex;
  align-items: center;
  gap: 31px;
}
