.geroy {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0;
  .img {
    position: relative;
    display: inline-block;
  }
  .arrow {
    position: absolute;
    top: 50%;
  }
  .buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    bottom: 5%;
    left: 50%;
    transform: translatex(-50%);
  }
  button {
    background: #626262;
    width: 15px;
    height: 3px;
    border-radius: 1.5px;
  }
  .active {
    background: #ffffff;
  }
  .arrow-next {
    right: 5%;
  }
  .arrow-prev {
    left: 5%;
  }
}
