$color-text-base: #343434;
$color-text-price: #4aaa4e;
$color-light: #ffffff;
$font-text-base: 'robotoregular';
$font-text-tytle: 'robotomedium';
$font-text-price: 'robotobold';
$font-main-title: 'robotoblack';
$bg-page-first: #ffffff;
$bg-like: #ffffff;
$bg-header-top: #343434;
$bg-form: #e8e8e8;
$bg-border: #bdbdbd;
