footer {
  border-top: 2px solid #cccccc;
}
.nav-container {
  padding-top: 22px;
  padding-bottom: 22px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container {
  width: 1170px;
  margin: auto;
}
